</body>
</html>

<!-- <footer class="footer">
  <div class="container">
    <p class="text-muted">
      Cynthia Yeung || Week 6 Weekend Lab || GA-WDI 16
    </p>
  </div>
</footer> -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted text-center" style="padding-top: 15px">
      Cynthia Yeung || Week 6 Weekend Lab || GA-WDI 16
    </p>
  </div>
</nav>