<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weekend Blog Lab</title>
</head>

<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <%= link_to "Weekend Blog Lab", authors_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right ">
          
        </ul>
    </div>
  </nav>
</div>


<body class="container">
