<%= render "partials/header" %>

<div class="page-header">
<h1>All Blog Authors</h1>
</div>

<ol>
  <% @authors.each do |author| %>
    <li class="lead">
      <%= link_to author.first_name + " " + author.last_name, author_path(author) %>
    </li>
  <% end %>
</ol>

<%= link_to "Add a new author", new_author_path, class: "btn btn-primary" %>
</div>
<%= render "partials/footer" %>